body {
    background-color: rgba(148, 164, 255, 0.61);
}

.CP1,
.CP2 {
    color: blue;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    background-color: rgb(152, 219, 250)
}

.Cap1Sub1,
.Cap1Sub2,
.Cap2Sub1 {
    color: rgb(134, 10, 10);
    font-size: 26px;
    font-weight: bold;
    text-align: left;
    margin-top: 20px;

}

div {
    margin: 20px px;
}

p {
    text-align: justify;
}